{% extends "base.html" %}
{% block content %}

<div class="container">
    <pre class="page-summary">My Dashboard</pre>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-12">
            <p>Active Campaigns:</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% for campaign in campaigns %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                                        Campaign No: {{ campaign.id }},
                                        Name: {{ campaign.name }},
                                        Description: {{ campaign.description }},
                                        Type: {{ campaign.campaign_type }}
                                    </a>
                                </h4>
                                {% if user in campaign.assigned_users.all %}
                                    <pre class="dashboard-panel">You are assigned to this campaign.</pre>
                                {% endif %}
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <!-- USERS ASSIGNED TO CAMPAIGN DROPDOWN BUTTON -->
                                <div class="btn-group">
                                    <button type="button" style="color:white;"
                                        class="btn link-btn-purple btn-panel-list dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Assigned Users <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for user in campaign.assigned_users.all %}
                                            <li><a href="#">{{ user }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% if user not in campaign.assigned_users.all %}
                                    <!-- ASSIGN USER TO CAMPAIGN BUTTON -->
                                    <a href="{% url 'assign_user_to_campaign' campaign.id %}"
                                        class="btn link-btn-orange btn-panel-list"
                                        style="color:white;">Assign me to this Campaign
                                    </a>
                                {% else %}
                                    <!-- START CAMPAIGN BUTTON -->
                                    <a href="{% url 'start_tasks' campaign.id %}"
                                        class="btn link-btn-orange btn-panel-list"
                                        style="color:white;">Start Campaign
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel">
                    <div class="list-group">
                        {% for round in campaign.rounds.all %}
                            <div class="row">
                                <div class="col-xs-12 col-md-6 panel-text">
                                    <p>Round: {{ round }}</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <!-- LIST STREETS BUTTON -->
                                    <button type="button" style="color:white;"
                                        class="btn link-btn-purple btn-panel-list dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        List Streets <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for street in streets %}
                                            {% if street.round == round %}
                                                <li><a href="#">{{ street.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                    <!-- STREET DETAILS BUTTON -->
                                    {% if request.session.group == 'Administrators' %}
                                        <!-- Limit access to Linked Streets page to Administrators only
                                             as it allows creation and deletion of streets. -->
                                        <a href="{% url 'linked_streets' round.id %}" class="btn link-btn-orange btn-panel-list"
                                            style="color:white;">Street Details
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
