{% extends "base.html" %}
{% block content %}

<div class="container">
    <pre class="page-summary">My Dashboard</pre>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-12">
            <p>Active Campaigns:</p>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% for campaign in campaigns %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading{{ forloop.counter }}">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                                        Campaign No: {{ campaign.id }},
                                        Name: {{ campaign.name }},
                                        Description: {{ campaign.description }},
                                        Type: {{ campaign.campaign_type }}
                                    </a>
                                </h4>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="btn-group">
                                    <button type="button" style="color:white;"
                                        class="btn btn-custom btn-panel-list dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Assigned Users <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for user in campaign.assigned_users.all %}
                                            <li><a href="#">{{ user }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <a href="{% url 'assign_user_to_campaign' campaign.id %}"
                                    class="btn btn-custom btn-panel-list"
                                    style="color:white;">Assign me to this Campaign</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel">
                    <div class="list-group">
                        {% for round in campaign.rounds.all %}
                            <div class="row">
                                <div class="col-xs-12 col-md-4 panel-text">
                                    <p>Round: {{ round }}</p>
                                </div>
                                <div class="col-xs-12 col-md-8">
                                    <button type="button" style="color:white;"
                                        class="btn btn-custom btn-sm btn-panel-list dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        View Streets <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% for user in campaign.assigned_users.all %}
                                            <li><a href="#">{{ user }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
