{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="brand-header-text-wrapper">
            <h1 class="brand-text-large">Welcome to Walkabout</h1>
            <h1 class="brand-pitch">
                The fast way to plan and review your delivery, canvassing and surveying campaigns.
            </h1>
            <h3 class="brand-pitch">
                Everything your team needs to plan and deliver marketing literature, door-to-door
                canvassing and surveys. Our technology will help you uncover insights to make your
                campaigns more effective.
            </h3>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <img src="/static/images/leafleter-cropped.png" alt="Clip art image of leaflet distributor." width="100%" height="auto"/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <a href="" class="btn link-btn-red-free" style="color:white;">Try it for free</a>
    </div>
</div>

<footer>
    <div class="container">
        <p>Contact Us</p>
    </div>
</footer>

{% endblock %}
