{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-xs-12 col-sm-8">
        <h1 class="brand-header">Walkabout</h1>
        <h1 class="brand-pitch">
            The fast way to plan and review your delivery, canvassing and surveying campaigns.
        </h1>
        <h3 class="brand-explanation">
            Everything your team needs to deliver marketing literature, canvassing and surveys.
            Our technology will help you uncover insights to make your campaigns more effective.
        </h3>
    </div>
    <div class="col-xs-12 col-sm-4">
        <img src="/static/images/leafleter-cropped.png" alt="Clip art image of leaflet distributor." width="100%" height="auto"/>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1 class="brand-pitch">See how our app can empower your campaigns:</h1>
        <ul class="brand-benefits">
            <li><p>Go paperless. No more paper-based walking lists, susceptible to weather or loss.</p></li>
            <li><p>Provide agents with in-app maps and directions to campaign area.</p></li>
            <li><p>Instantly see when an agent ticks off a street as complete.</p></li>
            <li><p>Rounds automatically ticked off, once all related streets are completed.</p></li>
            <li><p>Campaigns automatically ticked off, once all related rounds are completed.</p></li>
            <li><p>Create selective address lists for targeted canvassing, surveying and delivery follow-ups.</p></li>
            <li><p>No more time-consuming collation of campaign results recorded on paper.</p></li>
            <li><p>Generate reports for missed addresses, not founds and unfinished rounds for follow-ups.</p></li>
            <li><p>Generate statistical reports at organisation, campaign, round and street level for
                   insights into campaign effectiveness and coverage.
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1 class="brand-pitch">Affordable for businesses or organisations of all sizes</h1>
        <p class="brand-benefits org-highlight">Are you a community organisation or small business? Try our FREE app!</p>
        <p class="brand-benefits">
            Our free subscription provides you with the address data for 1 local authority area, of your choice,
            which can be accessed by up to 3 devices at any one time. As you grow, you can buy an upgrade for more
            devices or local authority areas. If you wish, you can also create your own address data using the data
            entry screens with the app.
        </p>
        <p class="brand-benefits org-highlight">Or are you a larger organisation?</p>
        <p class="brand-benefits">
            A paid subscriptions is more suitable for larger businesses and organisations, local authorities, etc,
            in terms of both scale and support. But we at Spellbound Software, want all our customers to be happy,
            so please feel free to subscribe to our FREE product first, to evaluate if the app is suitable for your
            needs. You can always scale-up to more devices or local authority areas later. Our paid subscriptions
            start at 12 devices for 6 months for 5 local authorities. Please note our address list is for the
            United Kingdom only.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1 class="brand-pitch">Superb Customer Support</h1>
        <p class="brand-benefits">
            Subscribe to our paid-for Walkabout products and you’ll get more than just a sophisticated campaigning app –
            you’ll also get access to our outstanding technical support and customer service teams. Here at Spellbound
            Software we go that extra mile to ensure that your experience using our app is backed up with training,
            assistance and support to get the most out of our software for both your campaign managers and agents
            in the field.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <a href="" class="btn link-btn-red-free" style="color:white;">Try it for free</a>
    </div>
</div>

<footer>
    <div class="container">
        <p>Contact Us</p>
        <p>T: 0000 1234567</p>
        <p>E: spellbound@yahoo.co.uk</p>
    </div>
</footer>

{% endblock %}
