{% extends "base.html" %}
{% block content %}

    {% for round_data in round %}
        <pre class="page-summary">Linked Streets</pre>
        <p class="streets-linked">Round: {{ round_data.name }} ({{ round_data.description }})</p>
    {% endfor %}
    {% if not streets %}
        <p>No streets linked yet to this round.</p>
        <p>
            Click <a href="{% url 'new_street' %}?next={{ request.path|urlencode }}" class="inline page-link">here</a>
            to create a new one.
        </p>
        <p>
            Click <a href="{% url 'all_streets' %}" class="inline page-link">here</a>
            to link to an existing one.
        </p>

    {% else %}
        <div class="filter" title="Search image from freepnglogos.com">
            <input id="filter-input" onkeyup="filter()" placeholder="Filter by street name.." type="text">
        </div>
        <a href="{% url 'new_street' %}?next={{ request.path|urlencode }}" class="btn btn-custom" style="color: white;">Add Street</a>

        <p class="streets-linked">Streets linked to this round:</p>
        <ul id="data-list">
            {% for street in streets %}
                <li>
                    <div class="row">
                        <div class="col-xs-12 col-md-3">
                            <p>{{ street.name }}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="row">
                                <!-- Display a horizontal button group for sm, md and lg devices. -->
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="btn-group" role="group"
                                        aria-label="Button group for Edit Street, Delete Street,
                                        View Addresses and Create Addresses.Agent users can only see View Addresses.">
                                        {% if request.session.group == request.session.default_admin_group %}
                                            <!-- Limit access to editing and deletion of streets, and creation of
                                                 addresses to Administrators only. -->
                                            <span class="btn link-btn-purple">
                                                <a href="{% url 'edit_street' street.id %}?next={{ request.path|urlencode }}">Edit</a>
                                            </span>
                                            <span class="btn link-btn-red">
                                                <a href="{% url 'delete_street' street.id %}?next={{ request.path|urlencode }}">Delete</a>
                                            </span>
                                            <span class="btn link-btn-light-blue">
                                                <a href="{% url 'view_addresses' street.id %}?next={{ request.path|urlencode }}">View Addresses</a>
                                            </span>
                                            <span class="btn link-btn-orange">
                                                <a href="{% url 'create_addresses' street.id %}">Create Addresses</a>
                                            </span>
                                        {% else %}
                                            <span class="btn link-btn-light-blue">
                                                <a href="{% url 'view_addresses' street.id %}?next={{ request.path|urlencode }}">View Addresses</a>
                                            </span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}