{% extends "base.html" %}
{% block content %}

<div class="container"></div>
    <legend>Rounds</legend>
    {% if not rounds %}
        <p>No rounds created yet. These can be created from the Rounds menu above.</p>
    {% else %}
        <div class="filter">
            <!-- Search url to go here -->
            <form action="#" method="GET">
                <input type="text" name="q">
                <button type="submit">Filter by name</button>
            </form>
        </div>
        {% for round in rounds %}
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-12 display panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <h4>{{ round.name }}</h4>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="row">
                                    <!-- Display a horizontal button group for sm, md and lg devices. -->
                                    <!-- Contains EDIT, DELETE and VIEW STREETS buttons -->
                                    <div class="hidden-xs col-sm-12 col-md-12 col-lg-12">
                                        <div class="btn-group" role="group" aria-label="Horizontal button group for Edit Round, Delete Round and View Streets (of this Round).">
                                            <span class="btn link_btn btn-lg"><a href="{% url 'edit_round' round.id %}">Edit</a></span>
                                            <span class="btn link_btn_danger btn-lg"><a href="{% url 'delete_round' round.id %}">Delete</a></span>
                                            <span class="btn link_btn_streets btn-lg"><a href="{% url 'attached_streets' round.id %}">View streets</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}