@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

body {
    font-family: Arial;
    padding-top: 100px;
}

a {
    text-decoration: none;
    color: white;
    display: block;
}

.streets-assigned {
    color: black;
    font-size: 18px;
}

.link-btn-purple {
    color: white;
    background-color: rebeccapurple;
    margin: 0px;
    width: 150px;
}

.link-btn-red {
    color: white;
    background-color: red;
    margin: 0px;
    width: 150px;
}

.link-btn-light-blue {
    color: white;
    background-color: #4b90e8;  // light-blue
    margin: 0px;
    width: 150px;
}

.btn-custom {
    color: white;
    background-color: rebeccapurple;
    border-color: rebeccapurple;
    width: 100px;
}

.address-comments {
    font-weight: bold;
}

.navbar-default {
    background-color: #468847;
    border-color: #468847;
}

.navbar {
    background-image: none;
}

.navbar-brand {
    font-family: 'Leckerli One';
    font-size: 30px;
}

.page-summary {
    background-color: #4b90e8;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#filter-input {
    background-image: url('/static/images/search-26227.png');
    background-size: 2% auto;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
.filter {
    margin-bottom: 10px;
}

#data-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#data-list li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

#data-list li:hover:not(.header) {
    background-color: #eee;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}