@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');

body {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    margin-top: 75px;
    color: black;
}

a {
    text-decoration: none;
    color: white;
    display: block;
}

a:visited {
    color: white;
}

h3 {
    color: black;
}

h3.no-top-margin {
    margin-top: 0;
}

/* Prevent anchor tags causing line breaks in text blocks. */
.inline {
    display: inline;
}

.page-link {
    color: #6d41e8;
}

.page-link:visited {
    color: #6d41e8;
}

.text-muted {
    color: black;
}

.streets-linked {
    color: black;
    font-size: 18px;
}

.link-btn-purple {
    color: white;
    background-color: #6d41e8;
}

.link-btn-red {
    color: white;
    background-color: red;
}

.link-btn-light-blue {
    color: white;
    background-color: #4b90e8;
}

.link-btn-orange {
    color: white;
    background-color: #f48d07;
}

.link-btn-free {
    color: white;
    background-color: red;
    font-size: 24px;
    margin-top: 20px;
    margin-right: 5px;
}

.link-btn-paid {
    color: white;
    background-color: black;
    font-size: 24px;
    margin-top: 20px;
}

.btn-custom {
    color: white;
    background-color: #6d41e8;
    border-color: #6d41e8;
    display: inline-block;
    margin-bottom: 10px;
}

.btn-custom:hover {
    background-color: purple;
    color: white;
}

.btn-amend {
    margin-top: 10px;
}

.address-comments {
    font-weight: bold;
}

.navbar {
    background-image: none;
}

.navbar-default {
    border-color: #6d41e8;
    background-color: #6d41e8;
}

.navbar-default .badge {
    background-color: #f89406;
    color: white;
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.badge:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.badge-warning {
    background-color: #f89406;
}

.badge-warning:hover {
    background-color: #c67605;
}

.menu-home {
    font-size: 30px;
}

.menu-other {
    font-size: 18px;
    font-weight: 400;
}

.brand-header {
    font-family: 'Leckerli One';
    font-size: 50px;
    color: red;
    margin-bottom: 30px;
}

.brand-explanation {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 50px;
}

.brand-pitch {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
}

ul.brand-benefits  {
    list-style-type: square;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

p.brand-benefits  {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

.highlight {
    color: red;
}

.page-summary {
    background-color: rebeccapurple;
    background-color: #6d41e8;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.page-summary-products {
    margin-left: -5px;
    margin-right: -5px;
}

#filter-input {
    background-image: url('/static/images/search-26227.png');
    background-size: 2% auto;
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
.filter {
    margin-bottom: 10px;
}

#data-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#data-list li {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}

#data-list li:hover:not(.header) {
    background-color: #eee;
}

.product-image {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.organisation-image {
    margin-top: 15px;
}

.organisation-summary {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.product-name, .product-price, .product-pitch,
.item-product-name, .item-product-price, .checkout-text,
.checkout-total, .product-total
{
    color: black;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
}

.product-pitch-highlighted {
    border-radius: 3px;
    padding: 5px;
}

.product-description {
    width: 100%;
    min-height: 40px;
}

.product-total {
    margin-top: 20px;
}

.footer-title {
    font-size: 18px;
    color: white;
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #ededed;
    background-color: #6d41e8;
    color: white;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: auto;
    border: 2px solid #ddd;
}

/* Media queries */
@media only screen and (max-width: 290px) {
    .brand-text-large {
        font-size: 34px;
    }
}

@media only screen and (max-width: 768px) {
    .menu-home {
        margin-left: 15px;
        font-size: 34px;
    }
    body {
        margin-top: 50px;
    }
    body pre {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 991px) {
    .btn-group-org {
        margin-top: 15px;
    }
}