{% extends "base.html" %}
{% block content %}

    <form method="POST">
        <pre class="page-summary">Organisation Delete</pre>
        {% csrf_token %}
        <p><strong>Organisation:</strong> {{ object.name }}</p>
        </p>Description: {{ object.description }}</p>
        <hr>
        <p>Are you sure you want to delete this organisation?</p>
        <input type="submit" value="Confirm" class="btn btn-custom"/>
        <a href="{% url 'all_organisations' %}" class="btn btn-custom">Cancel</a>
    </form>

{% endblock %}