{% extends "base.html" %}
{% block content %}

    <legend>Organisation Delete</legend>
    <form method="POST">{% csrf_token %}
        <p><strong>Organisation name:</strong> {{ object.name }}</p>
        </p><strong>Description:</strong> {{ object.description }}</p>
        <hr>
        <p>Are you sure you want to delete this organisation?</p>
        <input type="submit" value="Confirm" class="btn btn-default"/>
        <a href="{% url 'all_organisations' %}" class="btn btn-default">Cancel</a>
    </form>

{% endblock %}