{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-sm-10 col-md-9">
            {% if organisation.image %}
                <img class="" src="/media/{{ organisation.image }}">
            {% endif %}
            <h3>{{ organisation.name }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ organisation.description }}</p>
                    <p>Contact: {{ organisation.contact }}</p>
                    <p>Email: {{ organisation.email_address }}</p>
                    <p>Home: {{ organisation.home_number }}</p>
                    <p>Mobile: {{ organisation.mobile_number }}</p>
                    <a href="{% url 'all_organisations' %}" class="btn btn-default">Cancel</a>
                    <a href="{% url 'edit_organisation' organisation.id %}" class="btn btn-default">Edit</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>

{% endblock %}