{% extends 'base.html' %}
{% load product_extras %}
{% block content %}

<div class="container">
    <pre class="page-summary page-summary-products">Products</pre>
    <h4 class="product-pitch">
        Choose just ONE of subscription products (1, 2 or 3) below. Select a quantity and click on the Add button to add
        to the Cart. A 10% discount is applied for multiple paid subscription options. This will be shown in the shopping
        Cart before purchase.
    </h4>
    <h4 class="product-pitch"><em>
        Need need a longer subscription or a have a large number of users? Then please click <a href="#" class="inline email-link">here</a>
        to email us, or phone us on 0800 1234567. We will happily negotiate a discount on our normal rates for you.
    </em></h4>
    <h4 class="product-pitch">
        Our FREE subscription product comes with the address data for one local authority of your choosing. Paid subscriptions
        come with the address data for five local authorities. You can also combine any of our subscription products with our
        additional address data options, saving you time and effort on data entry. These are available in five or ten local
        authority add-ons, or you can choose the data for the entire UK address list. These can be purchased any time as long
        as your subscription has not lapsed. See individual product descriptions below for further information.
    </h4>
    <div class="row row-flex">
        {% for product in products %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
                <div class="panel-body">
                    {% if product.image_path %}
                        <div><img class="product-image" src="{{ product.image_path }}" alt="{{ product.image_caption }}"></div>
                    {% else %}
                        <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                    {% endif %}
                    <h3 class="product-name">{{ product.name }}</h3>
                    <textarea class="product-description" rows="5" cols="1" disabled>{{ product.description }}</textarea>
                    {% if product.price == 0 %}
                        <h3 class="product-price">FREE</h3>
                    {% else %}
                        <h3 class="product-price">£{{ product.price }}</h3>
                    {% endif %}
                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            {% if product.price == 0 %}
                                {% setvar "1" as max_quantity %}
                            {% else %}
                                {% setvar "50" as max_quantity %}
                            {% endif %}
                            <input name="quantity[]" type="number" min="0" max="{{ max_quantity }}" oninput="SetDisableAttr({{ product.number }})" class="form-control" placeholder="Quantity" required>
                            <span class="input-group-btn">
                                <!-- Inline style applied here to overcome problem of text colour appearing black after clicking  -->
                                <!-- and returning to this page. Refreshing page or clicking elsewhere returns the text colour to -->
                                <!-- white again. Can't find solution on forums. Assuming it's a browser bug.                     -->
                                <button name="add-btn[]" class="btn btn-custom" style="color:white;" type="submit" disabled>Add</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
