{% extends 'base.html' %}
{% load product_extras %}
{% block content %}

<div class="container">
    <pre class="page-summary page-summary-products">Products</pre>
    <h4 class="product-pitch">
        Choose just ONE of our base subscription products (1, 2 or 3) below. Select a quantity and click on
        the Add button to add to the Cart. A {{ percent }}% discount is applied to the total for multiple paid
        subscription options. This will be shown in the shopping Cart before purchase.
    </h4>
    <h4 class="product-pitch-highlighted bg-primary">
        Need need a longer subscription or a have a large number of devices? Then please click
        <a href="#" class="inline"><label class="badge badge-warning">here</label></a>
        to email us, or phone us on 0000 1234567. We will happily negotiate a discount on our
        normal rates for you.
    </h4>
    <h4 class="product-pitch">
        Our FREE base subscription product includes the address data for one local authority of your choosing. Paid
        base subscriptions include the address data for any five local authorities.
    </h4>
    <h4 class="product-pitch">
        You can also combine any of our base products with our additional address data options, saving you time and
        effort on data entry. These are available in five or ten local authority multiples, or you can choose the data
        for the entire UK address list. These can be purchased any time as long as your subscription has not lapsed.
        Prices are calculated on a pro rata basis if your base subscription was bought at an earlier date. See
        individual product descriptions below for further information.
    </h4>
    <div class="row row-flex">
        {% for product in products %}
            <div class="col-xs-12 col-sm-6 col-md-4 display panel panel-default">
                <div class="panel-body">
                    {% if product.image_path %}
                        <div><img class="product-image" src="{{ product.image_path }}" alt="{{ product.image_caption }}"></div>
                    {% else %}
                        <div><img class="product-image" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.image_caption }}"></div>

                    <!--                        <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>-->
                    {% endif %}
                    <h3 class="product-name">{{ product.name }}</h3>
                    <textarea class="product-description" rows="5" cols="1" disabled>{{ product.description }}</textarea>
                    {% if product.price == 0 %}
                        <h3 class="product-price">FREE</h3>
                    {% else %}
                        <h3 class="product-price">£{{ product.price }}</h3>
                    {% endif %}
                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input name="quantity[]" type="number" min="0" max="{{ product.max_product_quantity }}" oninput="SetDisableAttr({{ product.number }})" class="form-control" placeholder="Quantity" required>
                            <span class="input-group-btn">
                                <!--
                                Inline style applied below to overcome problem of text colour appearing black after clicking
                                and returning to this page. Refreshing page or clicking elsewhere returns the text colour to
                                white again. Can't find solution on forums.
                                -->
                                <button name="add-btn[]" class="btn btn-custom" style="color:white;" type="submit" disabled>Add</button>
                            </span>
                        </div>
                    </form>
                    {% if user.is_superuser %}
                        <!-- Limit editing and deletion of products to superusers only. -->
                        <a href="{% url 'edit_product' product.id %}" class="btn link-btn-purple" style="color:white;">Edit</a>
                        <a href="{% url 'delete_product' product.id %}" class="btn link-btn-red" style="color:white;">Delete</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
