{% extends 'base.html' %}
{% load product_extras %}
{% block content %}

<div class="container">
    <pre class="page-summary page-summary-products">Products</pre>
    <h4 class="product-pitch">
        Choose one of products below. If you need a longer subscription or a large number of users
        then please click <a href="#" class="inline">here</a> to email us, or phone us on 0800 1234567. We will
        happily negotiate a discount on our normal rates for you. Please note that the FREE option can only be chosen
        by itself. The subscription options can be combined.
    </h4>
    <div class="row row-flex">
        {% for product in products %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
                <div class="panel-body">
                    {% if product.image_path %}
                        <div class="product"><img src="{{ product.image_path }}" alt="{{ product.image_caption }}"></div>
                    {% else %}
                        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                    {% endif %}
                    <h3 class="product-name">{{ product.name }}</h3>
                    <textarea class="product-description" rows="5" cols="1" disabled>{{ product.description }}</textarea>
                    {% if product.price == 0 %}
                        <h3 class="product-price">FREE</h3>
                    {% else %}
                        <h3 class="product-price">£{{ product.price }}</h3>
                    {% endif %}
                    <form method="POST" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            {% if product.price == 0 %}
                                {% setvar 1 as max_quantity %}
                            {% else %}
                                {% setvar 50 as max_quantity %}
                            {% endif %}
                            <input name="quantity" type="number" min="1" max="{{ max_quantity }}" class="form-control" placeholder="Quantity" required>
                            <span class="input-group-btn">
                                <button class="btn btn-custom" type="submit">Add</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4">
            <a href="{% url 'view_cart' %}" class="btn btn-custom"><i class="fa fa-shopping-cart"></i> View Cart</a>
        </div>
    </div>
</div>

{% endblock %}
