{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% load mathfilters %}

{% block head_js %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        //<![CDATA[
            Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}

{% if not cart_items %}
    <p>You don't have any items in your cart.</p>
{% else %}
    <p class="product-pitch">Please review your order and enter your details if everything is correct.</p>
    <div class="row row-flex">
        {% for item in cart_items %}
            <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
                <div class="panel-body">
                    {% if item.product.image_path %}
                        <div><img class="product-image" src="{{ item.product.image_path }}" alt="{{ item.product.image_caption }}"></div>
                    {% else %}
                        <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
                    {% endif %}
                    <div class="caption">
                        <h3 class="item-product-name">{{ item.product.name }}</h3>
                        <h4 class="product-pitch">Price: {{ item.quantity }} x £{{ item.product.price }} = £{{ item.quantity|mul:item.product.price }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
<div>
    {% if total != 0 %}
        <h4 class="checkout-total">Cart subtotal: £{{ subtotal }}</h4>
        {% if discount_amount != 0 %}
            <h4 class="checkout-total">Discount @{{ percent }}% : £{{ discount_amount }}</h4>
        {% else %}
            {% if total != 0 %}
                <h4 class="checkout-total">Single item purchase - no discount applied.</h4>
            {% endif %}
        {% endif %}
        <h3 class="checkout-total">Total to pay: £{{ total }}</h3>
    {% else %}
        <h3 class="checkout-total">Total to pay: £{{ total }}.</h3>
        <p>Nothing to pay, but please complete order form to register this product.</p>
    {% endif %}
    <a href="{% url 'empty_cart' %}" class="btn btn-custom" role="button">
        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Empty Cart</a>
    <a href="{% url 'all_products' %}" class="btn btn-custom" role="button">
        <span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Continue Shopping</a>
</div>

{% if cart_items %}
    {% if total == 0 %}
        <!-- ORDER FORM (for free subscription product) -->
        <form method="POST" role="form" id="subscription-form" name="free" action="{% url 'checkout_free' %}">
            {% csrf_token %}

            <!-- ORDER FORM -->
            <div class="form-group col-md-6">
                <h3 class="checkout-total">Order Details:</h3>
                {{ order_form | as_bootstrap }}
            </div>

            <div class="col-md-12">
                <button onclick="submitForm('subscription-form')" type="submit" id="submit_free_btn"
                        class="btn btn-custom" style="color:white;">
                    <span class="glyphicon glyphicon-ok"></span> Subscribe
                </button>
            </div>
        </form>

    {% else %}

        <!-- ORDER AND PAYMENT FORM (for paid subscription products) -->
        <form method="POST" role="form" id="payment-form" name="paid" action="{% url 'checkout_paid' %}">
            {% csrf_token %}

            <div id="credit-card-errors" style="display: none;">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>

            <!-- ORDER FORM -->
            <div class="form-group col-md-6">
                <h3 class="checkout-total">Order Details:</h3>
                {{ order_form | as_bootstrap }}
            </div>

            <!-- PAYMENT FORM -->
            <div class="form-group col-md-6">
                <h3 class="checkout-total">Payment Details:</h3>
                {{ payment_form | as_bootstrap }}
            </div>

            <div class="col-md-12">
                <button onclick="submitForm('payment-form')" type="submit" id="submit_payment_btn"
                        class="btn btn-custom" style="color:white;">
                    <span class="glyphicon glyphicon-ok"></span> Pay Now
                </button>
            </div>
        </form>
    {% endif %}
{% endif %}

{% endblock %}