{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

    <pre class="page-summary">Please sign in</pre>
    <p>Not registered yet? Please click <a href="{% url 'register' %}" class="inline page-link">here</a>.</p>
    <p>Forgot password for sign-in? Click <a href="{% url 'password_reset' %}" class="inline page-link">here</a>.</p>
    <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
        {% csrf_token %}
        {{ user_form | as_bootstrap }}
        <button type="submit" class="btn btn-custom">Login</button>
    </form>

{% endblock %}