{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
        <fieldset class="form-group">
            <legend>Login</legend>
            {% csrf_token %}
            {{ user_form | as_bootstrap }}
            
             <p>Forgot password? Click <a href="{% url 'password_reset' %}">here</a>.</p>
             
            <button type="submit" class="btn btn-custom">Login</button>
        </fieldset>
    </form>
{% endblock %}