{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}
{% load cart_extras %}
{% load mathfilters %}

{% block content %}

<div class="container">
    {% if cart_items %}
        <p class="product-pitch">To remove an item from the Cart, change the quantity to zero and click Amend.</p>
    {% endif %}
    {% if not cart_items %}
        <p>You don't have any items in your cart.</p>
    {% else %}
        <div class="row row-flex">
            {% for item in cart_items %}
                <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
                    <div class="panel-body">
                        {% if item.product.image_path %}
                            <div><img class="product-image" src="{{ item.product.image_path }}" alt="{{ item.product.image_caption }}"></div>
                        {% else %}
                            <div class="product-image" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
                        {% endif %}
                        <div class="caption">
                            <h3 class="item-product-name">{{ item.product.name }}</h3>
                            {% if item.product.price == 0 %}
                                <p class="item-product-price">Price each: FREE</p>
                            {% else %}
                                <p class="item-product-price">Price each: £{{ item.product.price }}</p>
                            {% endif %}
                            <form class="form-inline" method="POST" action="{% url 'adjust_cart' item.id %}">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="sr-only">New Qty</label>
                                    <div class="col-xs-12">
                                        <div class="input-group" style="min-width:100%;" >
                                            {% if item.product.price == 0 %}
                                                {% setvar 1 as max_quantity %}
                                            {% else %}
                                                {% setvar 50 as max_quantity %}
                                            {% endif %}
                                            <input name="quantity" type="number" min="0" max="{{ max_quantity }}" class="form-control" placeholder="Change quantity" required>
                                            <div class="input-group-addon">{{ item.quantity }}</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-custom btn-amend"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Amend</button>
                                    </div>
                                </div>
                            </form>
                            <h4 class="product-total">Subtotal: {{ item.quantity }} x £{{ item.product.price }} = £{{ item.quantity|mul:item.product.price }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div>
        <h4 class="checkout-total">Cart subtotal: £{{ subtotal }}</h4>
        {% if discount_amount != 0 %}
            <h4 class="checkout-total">Discount @{{ percent }}% : £{{ discount_amount }}</h4>
        {% else %}
            {% if total != 0 %}
                <h4 class="checkout-total">Single item purchase - no discount applied.</h4>
            {% endif %}
        {% endif %}
        <h3 class="checkout-total">Total to pay: £{{ total }}</h3>
        {% if total == 0 %}
            <h4 class="checkout-text">Checkout to get your FREE subscription.</h4>
        {% endif %}
        {% if total == 0 %}
            <a href="{% url 'checkout_free' %}" class="btn btn-custom" role="button" style="color: white;">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Checkout</a>
        {% else %}
            <a href="{% url 'checkout_paid' %}" class="btn btn-custom" role="button" style="color: white;">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Checkout</a>
        {% endif %}
        <a href="{% url 'empty_cart' %}" class="btn btn-custom" role="button">
            <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span> Empty Cart</a>
        <a href="{% url 'all_products' %}" class="btn btn-custom" role="button">
            <span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Continue Shopping</a>
    </div>
</div>

{% endblock %}
