{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Walkabout</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' type='image/x-icon' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>
<body>
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="menu-home" href="/"><i class="fa fa-home" aria-hidden="true"></i></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <!-- PRODUCTS -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle menu-other" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-gift hidden-xs" aria-hidden="true"></i>
                            <span> Products</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'all_products' %}">All Products</a></li>
                            {% if user.is_superuser %}
                                <!-- Limit creation of new products to superusers only. -->
                                <li><a href="{% url 'new_product' %}">New Product</a></li>
                            {% endif %}
                        </ul>
                    </li>

                    <!-- MY ACCOUNT -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle menu-other" data-toggle="dropdown" role="button"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-sitemap hidden-xs" aria-hidden="true"></i>
                            <span> My Account</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'all_organisations' %}">Organisations</a></li>
                            <li><a href="{% url 'all_campaigns' %}">Campaigns</a></li>
                            <li><a href="{% url 'all_rounds' %}">Rounds</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'new_organisation' %}">New Organisation</a></li>
                            <li><a href="{% url 'new_campaign' %}">New Campaign</a></li>
                            <li><a href="{% url 'new_round' %}">New Round</a></li>
                            <li><a href="{% url 'new_street' %}">New Street</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'profile' %}" class="dropdown-toggle">
                                <i class="fa fa-user"></i> Profile [{{ user }}]</a></li>
                            <li><a href="{% url 'logout' %}" class="dropdown-toggle">
                                <i class="fa fa-sign-out"></i> Sign Out</a></li>
                        {%  else %}
                            <li><a href="{% url 'register' %}" class="dropdown-toggle">
                                <i class="fa fa-user-plus"></i> Register</a></li>
                            <li><a href="{% url 'login' %}" class="dropdown-toggle">
                                <i class="fa fa-sign-in"></i> Sign In</a></li>
                        {% endif %}
                        </ul>
                    </li>

                    <!-- SHOPPING CART -->
                    <li>
                        <a href="{% url 'view_cart' %}" class="menu-other"><i class="fa fa-shopping-cart"></i> Cart
                            {% if product_count > 0 %}
                                <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info alert-dismissible fade in " role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    <script>
        $(document).ready(function(){
            // Add a tooltip to an image.
            $('[data-toggle="tooltip"]').tooltip();
            // Enable dismissal of a Bootstrap alert.
            $('.alert').alert();
        });
    </script>

    <script>
        // Disable or enable Add Product button if the value is set zero.
        // Also alert user if max quantity exceeded for this product, as this script
        // overrides the form validation for max quantity.
        function SetDisableAttr(productNumber) {
            var i = productNumber - 1
            var inputValue = parseInt(document.getElementsByName("quantity[]")[i].value, 10);
            var maxValue = parseInt(document.getElementsByName("quantity[]")[i].max, 10);
            if (inputValue > 0) {
                document.getElementsByName("add-btn[]")[i].disabled = false;
            } else {
                document.getElementsByName("add-btn[]")[i].disabled = true;
            };
            // Alert user if max quantity exceeded for this product.
            if (inputValue > maxValue) {
                alert("Maximum quantity for Product #" + productNumber + " is " + maxValue + ". Please re-enter quantity required.");
                document.getElementsByName("quantity[]")[i].value = maxValue;
            };
        };
    </script>

    <script>
        // Filter listed data by looping through all list items, and hiding those that do not match the search query.
        function filter() {
            var input, filter, ul, li, p, i, txtValue;
            input = document.getElementById("filter-input");
            filter = input.value.toUpperCase();
            ul = document.getElementById("data-list");
            li = ul.getElementsByTagName("li");

            for (i = 0; i < li.length; i++) {
                p = li[i].getElementsByTagName("p")[0];
                txtValue = p.textContent || p.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        };
    </script>

</body>
</html>